*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.menubar{
    display: flex;
    justify-content: space-around;
    background-color: greenyellow;
    height:4rem;
    
}
.leftitem{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.rightitem{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
a{
    padding-right:3rem;
    text-decoration: none;
}
.imgbag{
    height:10px ;
    width: 10px;

}
button{
width:7rem;
height: 25px;
background-color: transparent;
border-radius: 5px;

}
.content{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color:greenyellow;
    
}
.leftcontent{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    height: 40rem;
   
    
}
.leftcontent h1{
    padding-left: 7rem;
    padding-right: 4rem;
    font-size: 3.5rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-top: 11rem;
    
}
.leftcontent p{
    font-size: 1.5rem;
    padding-left: 7rem;
    padding-right: 9rem;
}
.rightcontent{
    
    height:40rem;
    width: 70%;
    display: flex;
    justify-content: center;
    
    
}
.women{
    height:30rem;
    width:25rem;
    margin-top: 4rem;
    border-top-left-radius: 20%  ;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 19%;
    border-bottom-left-radius: 8%;
}
.heading{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading h1{
    margin-top: 2rem; 
    font-size: 3rem;
    color:  darkgreen;
}
.heading p{
    margin-top:4px;
    font-size: 1.4rem;
    font-weight: bold;
}
.gridcontainer{
    display: flex;
    margin-top: 2rem;
    margin-left: 7rem;
    margin-right: 7rem;
    justify-content: space-around;
}
 .card{
    height:30rem;
    width:18rem;
    
}
.card .topelement img{
    height:25rem;
    width:18rem;
}
.card .middleelement{
    margin-top: 20px;
    text-align: center;
}
.card .lastelement{
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
    width: 8rem;
    margin-left: 4.7rem;
    
}
.button {
    margin-left: 38rem;
    margin-top: 3rem;
}
.h1{
    text-align: center;
    font-size: 2rem;
    margin-top: 3rem;
    color: darkgreen;
}
.list{
    display:flex;
    justify-content: space-around;
    width: 50rem;
    margin-left: 15rem;
    margin-top: 2rem;
    font-size:20px;
    list-style: none;
    
}
.gridcontent{
    display:grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(4,1fr);
    
    margin: 2rem;
}
.lastelementp{
    text-align: center;
}
.middleelementp{
    font-size: 1.8rem;
    text-align: center;
}
.h1article {
    text-align: center;
    font-size: 2rem;
    margin-top: 3rem;
    color:darkgreen
}
.h1articles{
    text-align:center;
    font-size: 2rem;
}
.feedback{
    display:flex;
    justify-content: space-evenly;
    margin:3rem;
}
.feedback1,.feedback2,.feedback3{
    height:10rem;
    width:20rem;
    border:2px solid black;
    border-radius: 10px;
    padding: 19px;
    
}

.footer{
    display:flex;
    justify-content: space-around;
    list-style: none;
    background-color: darkgreen;
    height:15rem;
}
.element1{
    margin: 2rem;
    color:aliceblue;

}
.element1 h1{
    font-size:4rem;
}

.element2,.element3{
    margin-top: 3rem;
    color:beige;

}
.element2 h2{
    font-size:20px;
}
.element2 li{
    padding:2px;
    margin-top:10px;
}
.element3 h2{
    font-size:20px;
}
.element3 li{
    padding:2px;
    margin-top:10px;
}
.element4{
    margin:2.5rem;
}
.line{
    width:50rem;
    color: aliceblue;
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
}
.conditions{
    display:flex;
    justify-content: space-around;
    list-style: none;
    background-color: darkgreen;
}